[submodule "SereniaBLPLib"]
	path = SereniaBLPLib
	url = https://github.com/WoW-Tools/SereniaBLPLib.git
[submodule "dds-reader"]
	path = dds-reader
	url = https://github.com/starkiller-llc/hotslogs-dds-reader.git
